<template>
  <div class="supply">
    <!-- 土地供应 -->
    <land-category :lands="supplyLands"
                   :curIndex="curIndex" />
    <el-pagination background
                   class="fr"
                   layout="prev, pager, next"
                   :total="1000">
    </el-pagination>
  </div>
</template>

<script>
import LandCategory from '@/components/LandCategory';
export default {
  name: 'SupplyPage',
  data () {
    return {
      num: 1
    }
  },
  props: {
    supplyLands: {
      type: Object,
      default: () => {
        return {}
      }
    },
    curIndex: {
      type: String,
      default: () => {
        return '';
      }
    }
  },
  components: {
    LandCategory //  具体土地展示组件
  }
}
</script>
<style lang="less">
@import "../../styles/common.less";
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background: #2dad6a !important;
}
</style>
