body,
html {
    width: 100%;
    height: 100%;
    // background: #fff !important;
    font-family: "微软雅黑";
    // -webkit-backface-visibility: hidden;
    padding: 0 !important;
    margin: 0 !important;
}

div,
ul,
li,
p,
span,
dl,
dd,
dt {
    padding: 0;
    margin: 0;
}
ul,ol {
    list-style: none;
}
a {
    color: #07519a;
    text-decoration: none;
    cursor: pointer;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
