<template>
  <div class="header-box">
    <div class="name"
         @click="toHome">{{title}}</div>
    <img src="../../assets/advertise.jpg"
         alt />
    <el-button type="success"
               class="publish"
               @click="toPublishInform">{{curIndex !== '2' ? '发布土地信息' : '发布需求信息'}}</el-button>
  </div>
</template>

<script>
export default {
  name: 'LogoContainer',
  data () {
    return {
      num: 1
    }
  },
  props: ['title', 'curIndex'],
  methods: {
    toHome () {
      this.$emit('toHome')
    },
    toPublishInform () {
      this.$router.push({
        path: '/publish-inform',
        query: { curIndex: this.curIndex }
      })
    }
  }
}
</script>
<style lang="less">
@import "../../styles/common.less";
.header-box {
  height: 160px;
  padding: 0 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.name {
  float: left;
  background: #3dad6a;
  color: #fff;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border-radius: 50%;
  cursor: pointer;
}
</style>
