<template>
  <div class="main">
    <div class="left fl">
      <el-button type="primary"
                 class="left-btn"
                 icon="el-icon-search"
                 @click="toSupply">快速找地</el-button>
      <el-button type="primary"
                 class="left-btn"
                 icon="el-icon-location-information"
                 @click="toFind">发布信息</el-button>
    </div>
    <div class="right-banner fr">
      <!-- banner -->
      <el-carousel :interval="3000"
                   type="card">
        <el-carousel-item v-for="(item, index) in bannerList"
                          :key="index">
          <img :src="item.url"
               class="bannerImg" />
        </el-carousel-item>
      </el-carousel>
    </div>
    <!-- 热门土地 -->
    <land-category :lands="hotLands"
                   :curIndex="curIndex" />
    <!-- 精选土地 -->
    <land-category :lands="goodLands"
                   :curIndex="curIndex" />
    <!-- 土地资讯 -->
    <div class="landinfo">
      <div class="land-info-title">土地资讯</div>
      <div class="land-info-content">
        <div class="info-left fl">
          <img src="../../assets/revolution.jpg"
               alt="">
        </div>
        <div class="info-right fr">
          <a href=""
             class="detail-title">宅基地确权后，部分农民不能继承父母的宅基地！</a>
          <div class="details">
            农村宅基地继承问题，国家法律一直没有明确的规定，不过随着农村宅基地流转等政策出台后，宅基地继承基于“地随房走”的原则，农村子女在父母去世后，不仅能够继承宅基地上...
          </div>
        </div>
      </div>
    </div>
    <!-- 热门网站推荐 -->
    <div class="other-website">
      <div class="other-title">热门网站推荐</div>
      <div class="websites">
        <el-row :gutter="6"
                class="website-row">
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr1/">上海土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr2/">上海土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr3/">北京土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr4/">天津土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr5/">重庆土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr6/">广东土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr7/">四川土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr8/">浙江土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr9/">贵州土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr10/">辽宁土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr11/">江苏土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr12/">福建土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr13/">河北土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr14/">河南土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr15/">吉林土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr16/">黑龙江土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr17/">山东土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr18/">安徽土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr19/">广西土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr20/">上海土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr21/">海南土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr22/">内蒙古土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr23/">山西土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr24/">宁夏土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr25/">甘肃土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr26/">陕西土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr27/">青海土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr28/">湖北土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr29/">湖南土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr30/">江西土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr31/">云南土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr32/">新疆土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr33/">西藏土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr34/">香港土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr35/">澳门土地流转</a></el-col>
          <el-col :span="4"><a href="http://www.nctudi.com/gongying/list-pr36/">台湾土地流转</a></el-col>
        </el-row>
      </div>
    </div>
  </div>
</template>

<script>
import LandCategory from '@/components/LandCategory';
export default {
  name: 'MainPage',
  props: {
    bannerList: {
      type: Array,
      default: () => {
        return []
      }
    },
    hotLands: {
      type: Object,
      default: () => {
        return {}
      }
    },
    goodLands: {
      type: Object,
      default: () => {
        return {}
      }
    },
    curIndex: {
      type: String,
      default: () => {
        return '';
      }
    }
  },
  data () {
    return {
      num: 1
    }
  },
  components: {
    LandCategory //  具体土地展示组件
  },
  methods: {
    toSupply () {
      this.$emit('toSupply', 'supply')
    },
    toFind () {
      this.$router.push({
        path: '/publish-inform',
        query: {
          curIndex: this.curIndex
        }
      })
    }
  }
}
</script>
<style lang="less">
@import "../../styles/common.less";
.main {
  overflow: hidden;
  .left-btn {
    background: #3dad6a;
    border: none;
    display: block;
    margin-left: 0;
    i {
      display: block;
      font-size: 50px;
      margin-bottom: 10px;
    }
    &:last-child {
      margin-top: 20px;
      margin-left: 0;
    }
  }
  .right-banner {
    width: 1000px;
  }
  .landinfo {
    // padding: 0 120px;
    .land-info-title {
      margin-bottom: 5px;
    }
    .land-info-content {
      border-top: 3px solid #3dad6a;
      padding: 30px 0;
      overflow: hidden;
      .detail-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .details {
        width: 600px;
        margin-top: 20px;
        color: #999;
        font-size: 14px;
      }
    }
  }
  .other-website {
    // padding: 0 120px;
    .other-title {
      margin-bottom: 5px;
    }
    .websites {
      border-top: 3px solid #3dad6a;
      padding: 30px 0;
      font-size: 14px;
      .website-row {
        text-align: center;
        line-height: 26px;
      }
    }
  }
}
</style>
