<template>
  <div class="about">
    <!-- 头部 -->
    <Header />
    <!-- 名字 发布土地信息 -->
    <LogoContainer :title="title"
                   :buttonVal="buttonVal"
                   @toHome="toHome" />
    <!-- 关于我们 -->
    <div class="about-container">
      <div class="about-title">关于我们</div>
      <div class="about-content">
        <div class="content-title">网站介绍</div>
        <div class="content-self">
          <p><span class="self-point">土地分享平台</span>的宗旨是构建全国农村土地信息发布平台与流转服务平台，发挥媒体引导作用，推动农村土地流转市场的健康发展。</p>
          <p>党的17届3中全会指出，按照依法自愿有偿原则，允许农民以转包、出让、互换、转让、股份合作等形式流转土地承包经营权，发展多种形式的适度规模经营，解放农村剩余劳动力，最终达到适度规模化经营，，农业促进工业发展，工业反哺农业，城市反哺农村等一系列利国利民的政策出台，是中华大地尤其是农民朋友一次难得的创造历史、创造奇迹的又一重大机遇。我们深信，中国农村土地流转政策的出台将具有深远的现实意义和历史意义。这也意味着更多通过努力，从土地流转中获得利益和创造奇迹的故事将会陆续上演。站在新的历史起点上，人们期待并相信，党的十七届三中全会的有关重大决定，将加速城乡一体化进程，开启中国农村发展又一个崭新的时代。</p>
          <p>为了适应新形势下农经的需要，深刻理解、正确把握、真正落实党在农村的基本政策，着力推进农村土地流转，增加农民收入，我们开发了土地信息平台。</p>
          <p>近十年来，中国的互联网事业与世界同步得到迅猛发展，互联网已经成为人们工作生活重要组成部分，更是信息沟通的最有效工具和桥梁。随着科技进步、人民生活水平的提高，计算机及网络飞速发展，农民朋友将与世界同步，“要想富，先修路”，今天我们建设的便是一条高效、便捷的信息之路、希望之路、致富之路，使您足不出屋，便知天下事。我们开办《土地共享平台》的宗旨是：“以农为本，服务农村；以人为本，服务农民；以实为本，服务农经”；基本思路是：为广大农民朋友和农经工作者提供 “一个交流交易平台、一块探索领域、一处寄予希望的乐园”。《农村土地流转》作为农村土地流转的专业性网站，以信息的综合性和丰富性、传递的快捷性和超时空性、交流的互动性与开放性，为广大家搭起相互沟通的桥梁。</p>
          <p>土地信息平台关注农村土地政策，为广大农民群众提供农村土地各种信息，包括政策法规、流转动态、、流转信息、业界观点、在线地图、法律咨询等服务。《土地共享平台》第一时间及时准确的发布农村土地政策和信息，指导广大农民群众，密切关注农村土地流转情况、交易情况，通过对比，衡量自己的土地价值，另外还为广大农民群众提供的法律咨询服务；任何个人在信息频道发布土地信息，足不出户就可以了解各种土地流转情况；土地共享平台以丰富的信息、翔实的报道成为广大农经朋友了解农村土地流转信息的最佳平台，努力打造成农村土地流转第一网络平台。</p>
          <p>土地共享平台不断追求技术领先、服务领先、模式领先、业绩领先的发展目标。并凭借其一流的运营管理团队，强大的技术、电信资源优势，吸引了众多知名厂商和合作伙伴，结成了广泛的业务联盟。其不断推出的基于互联网技术的创新应用服务，已成为企业持续高速增长的核心动力</p>
          <p>土地共享平台是创新型的、优化的、升级版的农村土地流转门户。</p>
          <p>我们热情欢迎您利用土地共享平台提供的服务，希望我们的工作能够为您带来新的发展机会，同时也欢迎您对我们的服务内容、服务方式等提出宝贵的意见和建议。谢谢您的光临！</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import LogoContainer from '@/components/LogoContainer';
export default {
  name: 'About',
  data () {
    return {
      title: '回到首页',
      buttonVal: '发布土地信息'
    }
  },
  components: {
    LogoContainer //  具体土地展示组件
  },
  methods: {
    toHome () {
      this.$router.push('/')
    }
  }
}
</script>
<style lang="less">
@import "../styles/common.less";
.about-container {
  padding: 0 120px;
  .about-title {
    margin-bottom: 5px;
  }
  .about-content {
    border-top: 3px solid #3dad6a;
    padding: 30px 0;
    overflow: hidden;
    .content-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
    }
    .content-self {
      color: #999;
      font-size: 14px;
      line-height: 25px;
      .self-point {
        color: #333;
        font-size: 14px;
        font-weight: bold;
      }
      p {
        text-indent: 2em;
        margin-bottom: 20px;
      }
    }
  }
}
</style>
