<template>
  <div class="detail">
    <!-- 头部 -->
    <Header />
    <!-- logo层 -->
    <LogoContainer :title="title"
                   :buttonVal="buttonVal"
                   @toHome="toHome" />
    <!-- 展示层 -->
    <div class="display-container">
      <!-- 左边轮播 -->
      <el-carousel class="display-left">
        <el-carousel-item v-for="(item, index) in bannerList"
                          :key="index">
          <img :src="item.url"
               alt=""
               class="detail-img">
        </el-carousel-item>
      </el-carousel>
      <!-- 中间土地价格等情况 -->
      <div class="display-middle">
        <div class="big-title">设施完善50亩精致小农场两万元每年出租啰，快来实现农场梦吧！</div>
        <div class="update-time"></div>
        <div class="sub-content">
          <div class="price-line">
            <span class="key">带看服务费</span>
            <span class="price">300</span>元
          </div>
          <div class="price-line">
            <span class="key">土地价格</span>
            <span class="price">2</span>万元
          </div>
          <div class="area-line">
            <span class="key">土地地点</span>
            <span class="address">包头</span>
          </div>
        </div>
        <ul class="other-info">
          <li>
            <span class="key">土地用途</span>
            <span class="val">农场</span>
          </li>
          <li>
            <span class="key">流转类型</span>
            <span class="val">出租</span>
          </li>
          <li>
            <span class="key">流转年限</span>
            <span class="val">19 年</span>
          </li>
          <li>
            <span class="key">土地面积</span>
            <span class="val">50 亩</span>
          </li>
        </ul>
        <div class="scan">
          <span class="key">选择服务</span>
          <el-button type="success">预约看地</el-button>
        </div>
      </div>
      <!-- 右边联系人信息 -->
      <el-card class="box-card">
        <div class="card-line">
          <div class="line-key">联系人</div>
          <div class="line-val">刘先生</div>
        </div>
        <div class="card-line">
          <div class="line-key">联系电话</div>
          <div class="line-val">17778181876</div>
        </div>
        <div class="card-line">
          <div class="line-key">信息来源</div>
          <div class="line-val">个人</div>
        </div>
      </el-card>
    </div>
    <div class="info-details">
      <div class="detail-title">土地详情</div>
      <!-- 详情tab切换 -->
      <el-tabs class="tabs-content"
               type="border-card">
        <el-tab-pane label="土地详情">
          <div class="detail-line">这个地块离县城九公里。水源丰富，绿树成荫，砂石路大概有八百米，其他都是水泥路。</div>
          <div class="detail-line">押金费用：20000元。</div>
          <div class="detail-line">支付方式：每年支付</div>
          <div class="detail-line">中介费用：3000元</div>
          <div class="detail-line">考察费用：300元每次，成交可以抵扣中介费用</div>
          <div class="detail-line">交易流程：签定考察协议,委托流转协议等。</div>
        </el-tab-pane>
        <el-tab-pane label="地块情况">
          <div class="situation">
            <div class="sit-line">
              <div class="key">土壤质地</div>
              <div class="val">抛荒多年</div>
            </div>
            <div class="sit-line">
              <div class="key">日照情况</div>
              <div class="val">很好</div>
            </div>
            <div class="sit-line">
              <div class="key">水资源情况</div>
              <div class="val">丰富</div>
            </div>
            <div class="sit-line">
              <div class="key">土层厚度</div>
              <div class="val">11-50厘米</div>
            </div>
            <div class="sit-line">
              <div class="key">地形坡度</div>
              <div class="val">平地小于10度</div>
            </div>
            <div class="sit-line">
              <div class="key">土壤质地</div>
              <div class="val">沙壤土</div>
            </div>
            <div class="sit-line">
              <div class="key">有机质含量</div>
              <div class="val">丰富</div>
            </div>
            <div class="sit-line">
              <div class="key">污染状况</div>
              <div class="val">环境特别好</div>
            </div>
            <div class="sit-line">
              <div class="key">适宜何种经营</div>
              <div class="val">种植任何作物</div>
            </div>
            <div class="sit-line">
              <div class="key">适合项目</div>
              <div class="val">家庭农场</div>
            </div>
          </div>
        </el-tab-pane>
        <el-tab-pane label="配套设施">
          <div class="sit-line">
            <div class="key">适合项目</div>
            <div class="val">家庭农场</div>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
import Header from '@/components/Header';
import LogoContainer from '@/components/LogoContainer';

export default {
  name: 'detail',
  data () {
    return {
      title: '回到首页',
      buttonVal: '发布土地信息',
      bannerList: [
        { url: require('../assets/banner1.jpeg') },
        { url: require('../assets/banner2.jpg') },
        { url: require('../assets/banner4.jpeg') }
      ]
    }
  },
  components: {
    Header, // 头部
    LogoContainer // logo层
  },
  methods: {
    toHome () {
      this.$router.push('/')
    }
  }
}
</script>
<style lang="less">
@import "../styles/common.less";
.display-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  .display-left {
    width: 400px;
  }
  .display-middle {
    // border: 3px solid #3dad6a;
    padding: 10px;
    width: 380px;
    color: #999;
    font-size: 14px;
    .big-title {
      font-size: 22px;
      line-height: 30px;
      color: #555;
    }
    .sub-content {
      margin: 20px 0;
      .price-line {
        .key {
          margin-right: 20px;
        }
        .price {
          color: #53bd2c;
          font-weight: bold;
          font-size: 20px;
        }
      }
      .area-line {
        .key {
          margin-right: 20px;
        }
        .area {
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
    .other-info {
      border-top: 1px dashed #999;
      border-bottom: 1px dashed #999;
      overflow: hidden;
      li {
        float: left;
        margin-right: 30px;
        margin-bottom: 20px;
      }
    }
    .scan {
      margin-top: 20px;
      .key {
        margin-right: 30px;
      }
    }
  }
  .box-card {
    width: 200px;
    .card-line {
      line-height: 32px;
      .line-key {
        display: inline-block;
        color: #999;
        font-size: 14px;
      }
      .line-val {
        display: inline-block;
        color: #ff9f00;
        font-size: 16px;
      }
    }
  }
}
.info-details {
  padding: 0 120px;
  .detail-title {
    margin-bottom: 5px;
  }
  .tabs-content {
    border-top: 3px solid #3dad6a;
    padding: 30px 0;
    overflow: hidden;
    padding: 0;
    line-height: 38px;
    color: #999;
    font-size: 14px;
    .sit-line {
      .key,
      .val {
        display: inline-block;
      }
      .val {
        margin-left: 30px;
        color: #333;
      }
    }
  }
}
</style>
