<template>
  <div class="home">
    <!-- 头部 -->
    <Header @toSupply="toSupply" />
    <!-- 名字 发布土地信息 -->
    <LogoContainer :title="title"
                   :curIndex="index"
                   @toHome="toHome" />
    <!-- 主tabs -->
    <el-tabs v-model="curTab"
             @tab-click="switchTab">
      <el-tab-pane label="首页"
                   name="main">
        <main-page :bannerList="bannerList"
                   :hotLands="hotLands"
                   :goodLands="goodLands"
                   :curIndex="index"
                   @toSupply="toSupply" />
      </el-tab-pane>
      <el-tab-pane label="土地供应"
                   name="supply">
        <supply-page :supplyLands="supplyLands"
                     :curIndex="index" />
      </el-tab-pane>
      <el-tab-pane label="土地需求"
                   name="need">
        <need-page :needLands="needLands"
                   :curIndex="index" />
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import Header from '@/components/Header';
import LogoContainer from '@/components/LogoContainer';
import MainPage from '@/components/MainPage';
import SupplyPage from '@/components/SupplyPage';
import NeedPage from '@/components/NeedPage';
import { log } from 'util';
// import LandCategory from '@/components/LandCategory'

export default {
  name: 'home',
  data () {
    return {
      title: '土地共享平台',
      buttonVal: this.curTab !== 'need' ? '发布土地信息' : '发布需求',
      bannerList: [
        { url: require('../assets/banner1.jpeg') },
        { url: require('../assets/banner2.jpg') },
        { url: require('../assets/banner4.jpeg') }
      ],
      curTab: 'main',
      hotLands: {
        title: '热门土地',
        landList: [
          {
            url: require('../assets/land_img.jpg'),
            year: 30,
            price: '6万',
            area: '60亩',
            desc: '交通方便原生态60亩绿地'
          },
          {
            url: require('../assets/land_img.jpg'),
            year: 30,
            price: '6万',
            area: '60亩',
            desc: '交通方便原生态60亩绿地'
          },
          {
            url: require('../assets/land_img.jpg'),
            year: 30,
            price: '6万',
            area: '60亩',
            desc: '交通方便原生态60亩绿地'
          },
          {
            url: require('../assets/land_img.jpg'),
            year: 30,
            price: '6万',
            area: '60亩',
            desc: '交通方便原生态60亩绿地'
          }
        ]
      },
      goodLands: {
        title: '精选土地',
        landList: [
          {
            url: require('../assets/land_img2.jpg'),
            year: 30,
            price: '6万',
            area: '60亩',
            desc: '交通方便原生态60亩绿地'
          },
          {
            url: require('../assets/land_img2.jpg'),
            year: 30,
            price: '6万',
            area: '60亩',
            desc: '交通方便原生态60亩绿地'
          },
          {
            url: require('../assets/land_img2.jpg'),
            year: 30,
            price: '6万',
            area: '60亩',
            desc: '交通方便原生态60亩绿地'
          },
          {
            url: require('../assets/land_img2.jpg'),
            year: 30,
            price: '6万',
            area: '60亩',
            desc: '交通方便原生态60亩绿地'
          }
        ]
      },
      supplyLands: {
        title: '土地供应',
        landList: [
          {
            url: require('../assets/land_img2.jpg'),
            year: 30,
            price: '6万',
            area: '60亩',
            desc: '交通方便原生态60亩绿地'
          },
          {
            url: require('../assets/land_img2.jpg'),
            year: 30,
            price: '6万',
            area: '60亩',
            desc: '交通方便原生态60亩绿地'
          },
          {
            url: require('../assets/land_img2.jpg'),
            year: 30,
            price: '6万',
            area: '60亩',
            desc: '交通方便原生态60亩绿地'
          },
          {
            url: require('../assets/land_img2.jpg'),
            year: 30,
            price: '6万',
            area: '60亩',
            desc: '交通方便原生态60亩绿地'
          }
        ]
      },
      needLands: {
        title: '土地需求',
        landList: [
          {
            url: require('../assets/land_img2.jpg'),
            year: 30,
            price: '6万',
            area: '60亩',
            desc: '交通方便原生态60亩绿地'
          },
          {
            url: require('../assets/land_img2.jpg'),
            year: 30,
            price: '6万',
            area: '60亩',
            desc: '交通方便原生态60亩绿地'
          },
          {
            url: require('../assets/land_img2.jpg'),
            year: 30,
            price: '6万',
            area: '60亩',
            desc: '交通方便原生态60亩绿地'
          },
          {
            url: require('../assets/land_img2.jpg'),
            year: 30,
            price: '6万',
            area: '60亩',
            desc: '交通方便原生态60亩绿地'
          }
        ]
      },
      index: '0'
    }
  },
  methods: {
    toHome () {
      this.curTab = 'main';
    },
    toSupply (name) {
      if (name !== this.curTab) {
        this.curTab = name
      }
    },
    jumpTo (path = '') {
      path && this.$router.push({ path: path })
    },
    switchTab (tab) {
      this.index = tab.index
    }
  },
  components: {
    Header, // 头部
    LogoContainer, // logo层
    MainPage, //  首页
    SupplyPage, //  土地供应页
    NeedPage //  土地需求页
    // LandCategory //  具体土地展示组件
  }
}
</script>
<style lang="less">
@import "../styles/common.less";
.el-tabs__nav-scroll {
  display: flex;
  justify-content: center;
}
.el-tabs__item.is-active {
  color: #3dad6a !important;
}
.el-tabs__item:hover {
  color: #3dad6a !important;
}
.el-tabs__active-bar {
  background: #3dad6a !important;
  height: 3px !important;
}
.el-tabs__nav-wrap::after {
  height: 3px !important;
}
.el-tab-pane {
  padding: 0 120px;
}
</style>
