<template>
  <div class="regist-wrap">
    <h1>{{flag === 1 ? "注册": "请登录"}}</h1>
    <el-form :model="ruleForm"
             :rules="rules"
             ref="ruleForm"
             label-width="70px"
             class="demo-ruleForm">
      <el-form-item label="手机号"
                    prop="phone">
        <el-input v-model="ruleForm.phone"
                  maxlength="11"
                  prefix-icon="el-icon-phone-outline"
                  clearable></el-input>
      </el-form-item>
      <el-form-item v-if="flag === 1"
                    label="用户名"
                    prop="name">
        <el-input v-model="ruleForm.name"
                  maxlength="5"
                  prefix-icon="el-icon-user"
                  clearable></el-input>
      </el-form-item>
      <el-form-item label="密码"
                    prop="password">
        <el-input v-model="ruleForm.password"
                  show-password
                  prefix-icon="el-icon-lock"></el-input>
      </el-form-item>
      <el-form-item label="验证码"
                    prop="code"
                    class="verify-form">
        <el-input v-model="ruleForm.code"
                  class="verify-input"></el-input>
        <input type="button"
               @click="createCode"
               class="verification"
               v-model="checkCode" />
      </el-form-item>
      <el-form-item class="form-btn">
        <el-button type="primary"
                   @click="submitForm('ruleForm')">提交</el-button>
        <el-button @click="resetForm('ruleForm')">返回</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
export default {
  name: 'Login',
  data () {
    return {
      flag: 0,
      ruleForm: {
        name: '',
        phone: '',
        password: '',
        code: ''
      },
      rules: {
        name: [
          { required: true, message: '请输入用户名', trigger: 'blur' },
          { min: 3, max: 5, message: '用户名长度在 3 到 5 位', trigger: 'blur' }
        ],
        password: [
          { required: true, message: '请输入密码', trigger: 'blur' },
          { min: 5, message: '密码至少5位', trigger: 'blur' }
        ],
        phone: [{ required: true, message: '请输入手机号', trigger: 'blur' }],
        code: [{ required: true, message: '请输入验证码', trigger: 'blur' }]
      },
      checkCode: ''
    }
  },
  beforeRouteEnter (to, from, next) {
    next(function (me) {
      me.flag = to.query.flag
    })
  },
  created () {
    this.createCode()
  },
  methods: {
    createCode () {
      let code = '';
      // 先清空验证码的输入
      this.checkCode = '';
      this.picLyanzhengma = '';
      // 验证码的长度
      let codeLength = 4
      // 随机数
      let random = new Array(
        0,
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        'A',
        'B',
        'C',
        'D',
        'E',
        'F',
        'G',
        'H',
        'I',
        'J',
        'K',
        'L',
        'M',
        'N',
        'O',
        'P',
        'Q',
        'R',
        'S',
        'T',
        'U',
        'V',
        'W',
        'X',
        'Y',
        'Z'
      )
      for (let i = 0; i < codeLength; i++) {
        // 取得随机数的索引（0~35）
        let index = Math.floor(Math.random() * 36)
        // 根据索引取得随机数加到code上
        code += random[index]
      }
      // 把code值赋给验证码
      this.checkCode = code
    },
    submitForm (formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.ruleForm.code !== this.checkCode) {
            this.$message.error('验证码不正确，请重新输入')
            this.ruleForm.code = '';
          } else {
            this.$router.back()
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
      this.$router.back()
    }
  }
}
</script>
<style lang="less">
.regist-wrap {
  text-align: center;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  background: url(../assets/banner2.jpg) no-repeat;
  background-size: cover;
  h1 {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    color: #fff;
    width: 30%;
    margin: 0 auto;
    text-align: left;
  }
  .demo-ruleForm {
    width: 30%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 140px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;
    text-align: center;
    height: 280px;
    border-radius: 8px;
    &:hover,
    &:focus {
      box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.6);
    }
    .verify-form {
      .el-form-item__content {
        text-align: left;
        .verify-input {
          width: 100px;
        }
        .verification {
          border-radius: 6px;
          width: 100px;
          letter-spacing: 5px;
          margin-left: 20px;
          height: 40px;
          line-height: 38px;
          display: inline-block;
        }
      }
    }
    .form-btn {
      .el-form-item__content {
        text-align: left;
      }
    }
  }
}
</style>
