<template>
  <div class="form-wrap">
    <h1 class="class">{{curIndex !== "2" ? '发布土地信息' : '发布需求信息' }}</h1>
    <el-form :model="ruleForm"
             :rules="rules"
             ref="ruleForm"
             label-width="100px"
             size="mini"
             class="demo-ruleForm">
      <el-form-item label="信息标题"
                    prop="title">
        <el-input v-model="ruleForm.title"
                  show-word-limit
                  clearable
                  minlength=5
                  maxlength=20
                  placeholder=""></el-input>
      </el-form-item>
      <el-form-item label="土地面积（亩）"
                    prop="area">
        <el-input-number v-model="ruleForm.area"
                         :min="0"></el-input-number>
      </el-form-item>
      <el-form-item :label="curIndex === '2' ? '期望价格': '土地费用'"
                    prop="money">
        <el-input-number v-model="ruleForm.money"
                         :precision="2"
                         :min="0"
                         :step="0.1"></el-input-number>
      </el-form-item>
      <el-form-item label="开始日期"
                    required>
        <el-col :span="11">
          <el-form-item prop="date1">
            <el-date-picker type="date"
                            placeholder="开始日期"
                            v-model="ruleForm.date1"
                            style="width: 100%;"></el-date-picker>
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item label="共享年限"
                    prop="time">
        <el-select v-model="ruleForm.time"
                   placeholder="请选择">
          <el-option v-for="item in options"
                     :key="item.value"
                     :label="item.label"
                     :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item v-if="curIndex !== '2'"
                    label="土地照片"
                    prop="photos">
        <el-upload action="#"
                   list-type="picture-card"
                   multiple
                   ref="upload"
                   accept="image/png, image/jpeg"
                   :on-success="handleAvatarSuccess"
                   :auto-upload="false"
                   :file-list="fileList"
                   :before-upload="beforeUpload"
                   show-file-list>
          <i slot="default"
             class="el-icon-plus"></i>
          <div slot="file"
               slot-scope="{file}">
            <img class="el-upload-list__item-thumbnail"
                 :src="file.url"
                 alt="">
            <span class="el-upload-list__item-actions">
              <span class="el-upload-list__item-preview"
                    @click="handlePictureCardPreview(file)">
                <i class="el-icon-zoom-in"></i>
              </span>
              <span v-if="!disabled"
                    class="el-upload-list__item-delete"
                    @click="handleRemove(file)">
                <i class="el-icon-delete"></i>
              </span>
            </span>
          </div>
        </el-upload>
        <el-dialog :visible.sync="dialogVisible">
          <img width="100%"
               :src="dialogImageUrl"
               alt="">
        </el-dialog>
      </el-form-item>
      <el-form-item label="内容详情"
                    prop="desc">
        <el-input v-model="ruleForm.desc"
                  type="textarea"
                  :autosize={minRows:4,maxRows:6}
                  maxlength=300
                  show-word-limit></el-input>
      </el-form-item>
      <el-form-item label="联系人"
                    prop="userName">
        <el-input v-model="ruleForm.userName"
                  clearable
                  placeholder=""></el-input>
      </el-form-item>
      <el-form-item label="联系电话"
                    prop="phone">
        <el-input v-model="ruleForm.phone"
                  clearable
                  maxlength=11
                  placeholder=""></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="success"
                   @click="submitForm('ruleForm')">立即发布</el-button>
        <el-button @click="resetForm('ruleForm')">返回</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
export default {
  name: 'PublishInform',
  data () {
    return {
      curIndex: '',
      ruleForm: {
        name: '',
        area: 0,
        money: 0,
        date1: '',
        date2: '',
        photos: [],
        type: [],
        resource: '',
        desc: '',
        userName: '',
        phone: '',
        time: ''
      },
      rules: {
        title: [
          { required: true, message: '请输入信息标题', trigger: 'blur' },
          { min: 5, max: 20, message: '长度在 5 到 20 个字符', trigger: 'blur' }
        ],
        area: [
          { required: true, message: '请输入土地面积', trigger: 'change' }
        ],
        money: [
          { required: true, message: '请输入土地面积', trigger: 'change' }
        ],
        date1: [
          {
            type: 'date',
            required: true,
            message: '请选择日期',
            trigger: 'change'
          }
        ],
        date2: [
          {
            type: 'date',
            required: true,
            message: '请选择时间',
            trigger: 'change'
          }
        ],
        photos: [
          {
            type: 'array',
            required: true,
            message: '请至少上传一张照片',
            trigger: 'change'
          }
        ],
        time: [
          { required: true, message: '请选择共享年限', trigger: 'change' }
        ],
        desc: [
          { required: true, message: '请填写土地内容详情', trigger: 'blur' }
        ],
        userName: [
          { required: true, message: '请填写联系人', trigger: 'blur' }
        ],
        phone: [{ required: true, message: '请填写联系电话', trigger: 'blur' }]
      },
      options: [
        {
          value: '1',
          label: '一年'
        },
        {
          value: '2',
          label: '两年'
        },
        {
          value: '3',
          label: '三年'
        }
      ],
      dialogImageUrl: '',
      dialogVisible: false,
      disabled: false,
      fileList: [],
      imageUrl: ''
    }
  },
  beforeRouteEnter (to, from, next) {
    next(function (me) {
      me.curIndex = to.query.curIndex
    })
  },
  methods: {
    handleRemove (file) {
      console.log(file)
    },
    handlePictureCardPreview (file) {
      this.dialogImageUrl = file.url
      this.dialogVisible = true
    },
    submitForm (formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          // alert('submit!')
          this.$ref.upload.submit()
          this.$message({
            message: '恭喜你，发布成功',
            type: 'success'
          })
          this.$router.back()
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    resetForm (formName) {
      this.fileList = []
      this.$refs[formName].resetFields()
      this.$router.back()
    },
    handleAvatarSuccess (res, file) {
      console.log(res, file)
      this.fileList.push(file)
      this.imageUrl = URL.createObjectURL(file.raw)
    },
    beforeUpload (file) {
      console.log(file)
    }
  }
}
</script>
<style lang="less">
.form-wrap {
  position: relative;
  padding-top: 50px;
  height: 100%;
  h1 {
    text-align: center;
  }
  .demo-ruleForm {
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
  }
}
</style>
