<template>
  <div class="home-header">
    <div class="top-nav">
      <ul class="top-nav-left fl">
        <li @click="toAbout"><a>关于我们</a></li>
        <li class="line">|</li>
        <li @click="toSupply"><a>精选好地</a></li>
        <li class="line">|</li>
        <li>服务热线：010-1234567</li>
      </ul>
      <ul class="top-nav-right fr">
        <li><a @click="jumpTo('/login', 1)">免费注册</a></li>
        <li class="line">|</li>
        <li><a @click="jumpTo('/login', 2)">请登录</a></li>
        <li class="line">|</li>
        <li>Hi,欢迎来到土地共享平台</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Header',
  data () {
    return {
      num: 1
    }
  },
  methods: {
    toAbout () {
      this.$router.push('/about')
    },
    toSupply () {
      this.$emit('toSupply', 'supply')
    },
    jumpTo (path, flag) {
      this.$router.push({ path: path, query: { flag: flag } })
    }
  }
}
</script>
<style lang="less">
@import "../../styles/common.less";
.home-header {
  // width: 100%;
  height: 36px;
  background: #f7f2eb;
  font-size: 12px;
  padding: 0 130px;
  border-bottom: 3px solid #3dad6a;
}
.top-nav-left li {
  float: left;
  height: 36px;
  line-height: 36px;
}
.line {
  padding: 0 8px;
}
.top-nav-right li {
  float: right;
  height: 36px;
  line-height: 36px;
}
</style>
