<template>
  <div class="land-container">
    <div class="land-title">{{lands.title}}</div>
    <div class="land-content">
      <el-row :gutter="12">
        <el-col :span="6"
                v-for="(item, index) in lands.landList"
                :key="index">
          <el-card :body-style="{ padding: '0px' }"
                   class="card">
            <div class="img-box"
                 @click="toDetail">
              <img :src="item.url"
                   class="image" />
            </div>
            <div class="card-footer">
              <div class="footer-top">
                <div class="handle-btn fl"
                     @click="toPublish">{{curIndex !== '2' ? '出租' : '求租'}}</div>
                <div class="desc fr"
                     @click="toDetail">{{item.desc}}</div>
              </div>
              <div class="footer-middle">
                <div class="price fl">{{item.price ? item.price : '面议'}}</div>
                <div class="area fr">{{item.area}}</div>
              </div>
              <div class="footer-bottom">
                <div class="year fr"><i class="el-icon-timer"></i>{{item.year}}</div>
              </div>
            </div>
          </el-card>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LandCategory',
  props: {
    lands: {
      type: Object,
      default: () => {
        return {}
      }
    },
    curIndex: {
      type: String,
      default: () => {
        return '';
      }
    }
  },
  data () {
    return {
      num: 1
    }
  },
  methods: {
    toDetail () {
      this.$router.push('/detail')
    },
    toPublish () {
      this.$router.push({
        path: '/publish-inform',
        query: {
          curIndex: this.curIndex
        }
      })
    }
  }
}
</script>
<style lang="less">
@import "../../styles/common.less";
.land-container {
  // padding: 0 120px;
  width: 100%;
  overflow: hidden;
  .land-title {
    margin-bottom: 5px;
  }
  .land-content {
    border-top: 3px solid #3dad6a;
    padding: 30px 0;
  }
  .card {
    margin-bottom: 20px;
    .img-box {
      cursor: pointer;
      .image {
        width: 100%;
      }
    }
    .card-footer {
      padding: 12px;
      font-size: 12px;
      color: #999;
      .footer-top,
      .footer-middle,
      .footer-bottom {
        overflow: hidden;
        margin-bottom: 5px;
        .handle-btn {
          padding: 2px 10px;
          border: 1px solid #3dad6a;
          border-radius: 3px;
          color: #3dad6a;
          font-size: 12px;
          cursor: pointer;
        }
        .desc {
          font-size: 14px;
          color: #07519a;
          cursor: pointer;
        }
        .price {
          color: #ff9f00;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
}
</style>
